<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/template/template.xhtml">

	<ui:define name="pageTitle">manage Sellers</ui:define>
	<ui:define name="pageTop">welcome #{loginBean.user.login}</ui:define>
	<ui:define name="pageSide">
		<h:form>
			<h:commandLink action="update" value="manage products" />
			<br />
			<h:commandLink action="update" value="manage categories" />
		</h:form>
	</ui:define>
	<ui:define name="content">
		<h:form>
			<h:dataTable border="2" value="#{manageSellersBean.sellers}" var="s">
				<h:column id="column1">
					<f:facet name="header">
						<h:outputText value="First Name"></h:outputText>
					</f:facet>
					<h:outputText value="#{s.firstName}" />
				</h:column>
				<h:column id="column2">
					<f:facet name="header">
						<h:outputText value="Last Name"></h:outputText>
					</f:facet>
					<h:outputText value="#{s.lastName}" />
				</h:column>
				<h:column id="column3">
					<f:facet name="header">
						<h:outputText value="Email"></h:outputText>
					</f:facet>
					<h:outputText value="#{s.email}" />
				</h:column>
				<h:column id="column4">
					<f:facet name="header">
						<h:outputText value="#"></h:outputText>
					</f:facet>
					<h:commandButton action="#{manageSellersBean.doSelect()}"
						value="select">
						<f:setPropertyActionListener value="#{s}"
							target="#{manageSellersBean.sellerChosen}"></f:setPropertyActionListener>
					</h:commandButton>
				</h:column>

			</h:dataTable>
			<h:commandButton action="#{manageSellersBean.doDisplayTable}"
				value="create Seller" />
			<h:panelGrid columns="2" rendered="#{manageSellersBean.displyTable}">
				<h:outputText value="First Name" />
				<h:inputText value="#{manageSellersBean.sellerChosen.firstName}" />

				<h:outputText value="Last Name" />
				<h:inputText value="#{manageSellersBean.sellerChosen.lastName}" />

				<h:outputText value="Email" />
				<h:inputText value="#{manageSellersBean.sellerChosen.email}" />

				<h:dataTable border="2" value="#{manageSellersBean.sellerChosen.products}" var="p">
					<h:column id="column1">
						<f:facet name="header">
							<h:outputText value="Name"></h:outputText>
						</f:facet>
						<h:outputText value="#{p.productName}" />
					</h:column>
					<h:column id="column2">
						<f:facet name="header">
							<h:outputText value="Description"></h:outputText>
						</f:facet>
						<h:outputText value="#{p.productDescription}" />
					</h:column>
					<h:column id="column3">
						<f:facet name="header">
							<h:outputText value="Quantity"></h:outputText>
						</f:facet>
						<h:outputText value="#{p.quantityAvailable}" />
					</h:column>

				</h:dataTable>

				<h:commandButton action="#{manageSellersBean.doCreateSeller()}"
					value="save or update" />
				<h:commandButton action="#{manageSellersBean.doDeleteSeller()}"
					value="delete" />
			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>
