<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui" 
	template="/template/template.xhtml">

	<ui:define name="title">Log in page </ui:define>
	<ui:define name="menu">
	</ui:define>
	<ui:define name="content">

		<p:panel header="Login"
			styleClass="v-centered h-down-200 width-300">
			<p:messages autoUpdate="true" closable="true" />
			<h:form id="formloginid">
				<h:panelGrid columns="2">
					<h:outputText value="Email" />
					<p:inputText value="#{authentification.email}" id="txtemail" validatorMessage="Incorrect email">
					<f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$"  />
					
					</p:inputText>

					<h:outputText value="Password" />
					<p:password value="#{authentification.password}" id="txtpassword"/>

					<p:commandButton value="login" action="#{authentification.doLogin()}"
						pdate=":formloginid" ajax="true"  />
				</h:panelGrid>
			</h:form>
		</p:panel>


	</ui:define>

</ui:composition>