<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui" 
	template="/template/template.xhtml">

	<ui:define name="title">Admin Usefull Information </ui:define>
	<ui:define name="menu">
	</ui:define>
	<ui:define name="content">

		


	</ui:define>

</ui:composition>